img {
  display: block;
  width: 140px;
  height: 100px;
}
.gallery-list {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}
.images-list {
  margin-right: 20px;
  margin-bottom: 20px;
  list-style: none;
}
